/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* STRUCTURAL
/*******************************************/
body { 
  display: flex;
  flex-flow: column;
  font-family: 'Roboto', sans-serif;
}

header { 
  text-align: center;
  background-color: #E61E2A;
  color: white;
  width: 100%;
} 

/***************************
MODULAR STYLES
**************************/
.longTxt { 
  width: 50%;
}

.shortTxt { 
  width: 8%;
}

/* .icon { 
   height: 20px;
  width: 20px; 
} */

.leftMargin { 
  margin-left: 5%;
}

/***************************
BUTTONS
***************************/
#contributorAddButton { 
  display: flex;
  flex-flow: row;
  align-items: center;
  margin-top: 0.3%;
  margin-left: 0.3%;
}

.bigButton {
    border: 3px solid black;
    border-radius: 15px;
    padding: 0.5%;
    margin-left: 0.5%;
    font-size: 0.9rem;
    font-weight: 700;
}

.highlightButton { 
  color: white;
  background-color: #E61E2A;
}
/****************************
CHOOSE YOUR SOURCE
****************************/
#chooseYourSource h2 { 
  font-size: 2rem;
}

#sourceSelector { 
  display: flex;
  
}

.newspaperSourceInfo { 
  display: none;
}

.journalSourceInfo {
  display: none;
}

.governmentReportSourceInfo {
  display: none;
}

.companyReportSourceInfo { 
  display: none;
}
/********************
CORE INFO 
********************/
#coreInfo { 
  margin-top: 1%;
}

#coreInfo form { 
  display: flex;
  flex-flow: column;
}

#contributorLabel { 
  margin-top: 0.5%;
}

.contributorList { 
  display: flex;
  flex-flow: row;
}

.contributorList * {
  margin-left: 0.3%;
}

/* Contributor Input Customization */
.positionInput { 
  width: 10%;
}

.firstnameInput { 
  width: 10%;
}

.middleInput  {
  width: 5%;
}

.lastnameInput { 
  width: 10%;
}

.suffixInput { 
  width: 4%;
}

#contributorAddButton span { 
  margin-left: 0.2%;
}

.secondaryContributor { 
  margin-top: 0.5%;
  display: none;
}
/**********************
CONTEXT SOURCE STYLE
*******************/
.contextSource { 
  margin-top: 1%;
}

.contextSource form { 
  display: flex;
  flex-flow: column;
}

.contextSource form label { 
  margin-top: 0.3%;
}

/******************
CITATION MENU
*****************/
#citationMenu {
  margin-top: 1.5%;
  display: flex;
  flex-flow: column;
}

#citationMenu .bigButton { 
  width: 8%;
}

#scrollMessageDiv { 
  margin-top: 1.5%;
  display: flex;
  flex-flow: row;
  align-items: centers;
}

/********************
BIBLIOGRAPHY 
*******************/
#bibliography h2{ 
 font-size: 2rem;
}

#bibliography li {
  margin-top: 0.5%;
}
/***********************
BIBLIOGRAPHY MENU
***********************/
#bibliographyButtons { 
  margin-top: 1.5%;
}

/***************
FOOTER
**************/
footer { 
  margin-top: 2%;
  color: darkblue;
  text-decoration: underline;
  font-size: 0.8rem;
}